/* CSS Document */
* {	margin: 0; padding: 0;}

body {
	color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a, img {
	border: 0;
}


.f-left {
	float: left;
}

.f-right {
	float: right;
}

.section{
		border: 0;
		text-align:center;
}

#section0 {
		background: #31c5f4 !important;

}

#header {
		position: fixed;
		display: block;
		width: 100%;
		z-index: 9;
		color: #f2f2f2;
}

#header{
		background: #31c5f4;
		height: 114px;
		top:0px;
}

.brain-wm {
	cursor: pointer;
	/*filter: alpha(opacity=100);*/
	float: left;
	/*opacity: 1.0;*/
	height: 85px;
	margin: 15px 0 0 15px;
	width: 110px;
	
	-webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}

/*.brain-wm:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}*/

.brain-open {
	background: url(../images/brain_WM.png) 0 0 no-repeat;
}

.brain-close {
	background: url(../images/brain_WM.png) 0-85px no-repeat;
}

header .menu-wm {
	float: left;
}

header .social-wm {
	float: right;
}

header .menu-wm ul, .social-wm ul {
	padding: 60px 0 20px 0;
}

header .menu-wm li, .social-wm li {
	display: inline-block;
	list-style: none outside none;
	padding: 0 10px;
}

header .menu-wm li a {
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 34px;
	text-decoration: none;
	
	-webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}

header .menu-wm li a:hover {
	color: #273138;
}

header .menu-wm li:active {
	color: #273138;
} 

header .contact-wm a {
	background: url(../images/contact-wm.png) no-repeat 0 0 transparent;
	display: block;
	filter: alpha(opacity=100);
	height: 34px;
	opacity: 1.0;
	text-indent: -9000px;
	width: 40px;
}

header .contact-wm a:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

header .social-wm a {
	display: block;
	filter: alpha(opacity=100);
	height: 34px;
	opacity: 1.0;
	text-indent: -9000px;
	width: 26px;
}

header .social-wm a:hover {
	opacity:0.4;
	filter:alpha(opacity=40);
}

header .social-wm .btn-skype a {
	background: url(../images/social-wm.png) no-repeat 0 -3px transparent;
}

header .social-wm .btn-twitter a {
	background: url(../images/social-wm.png) no-repeat 0 -33px transparent;
}

header .social-wm .btn-facebook a {
	background: url(../images/social-wm.png) no-repeat 0 -62px transparent;
}

.main-logo {
	position: absolute;
	top: 50%;
	margin-top: -126px;
	left: 50%;
	margin-left: -98px;
}

.icon-logo img {
	max-width: 100%;
	height: auto;
}


.txt-logo h1 {
	font-size: 14px;
    font-weight: 300;
    padding-top: 2%;
}

txt-logo h1 span {
	color:#d5d5d5;
}

#footer {
	position: absolute;
	bottom: 0;
	background-color: #EEEEEE;
	height: 150px;
	width: 100%;
}

.footer-logo {
	border-right: 1px solid #d5d5d5;
	height: 150px;
	position: relative; 
	width: 30%;
}

.footer-logo img {
	margin-top: -27px;
	position: absolute;
	top: 50%;
	right: 10%;
}

.disclaimer {
	position:relative; 
	height: 150px; 
	width: 69%;
}

.disclaimer p {
	color: #99A3A4;
	font-size: 12px;
	left: 5%;
	line-height: 14px;
	margin-top: -7px;
	position: absolute;
	top: 50%;
	
	
}

.disclaimer p span {
	color: #273138;
}



/*PREVIEWS----- Image grids -----*/

ul.rig {
	list-style: none;
	font-size: 0px;
}

ul.rig li {
	display: inline-block;
	position: relative;
	width: 49.9%;
	
}

.item {
			text-align:center;			
		}
		
			.item,
			.item-hover,
			.item-hover .mask,
			.item-img,
			.item-info {
				width: 100%;
				height: 300px;	
			}

			.item-hover,
			.item-hover .mask,
			.item-img { 
				position:absolute;
				top:0;
				left:0;			
			}
			
			.item-img img {
				max-width: 100%;
				height: auto;
			}
			
			.item-type-line .item-hover {	
				z-index:100;	
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				transition: all 300ms ease-out;	
				opacity:0;
				cursor:pointer;						
				display:block;
				text-decoration:none;
				text-align:center;
			}
			
				.item-type-line .item-info {
					z-index:10;
					color:#ffffff;
					position:relative;
					top: 50%;
					z-index:5;				 					
				}
			
				.item-type-line .item-info .headline {
					font-size:20px;					
				}
				
				.item-type-line .item-info .line {
					 height:1px;
					 width:0%;
					 margin:15px auto;
					 background-color:#ffffff;
					-webkit-transition: all 500ms ease-out;
					-moz-transition: all 500ms ease-out;
					-o-transition: all 500ms ease-out;
					transition: all 500ms ease-out;					 

				}
				
				.item-type-line .item-info .date {
					font-size:12px;
				}
				
				.item-type-line .item-hover .mask {
					background-color:#000;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					filter: alpha(opacity=50);										
					opacity:0.5;
					z-index:0;
				}
				
				.item-type-line .item-hover:hover .line {
					width:40%;
				}
				
				.item-type-line .item-hover:hover {
					opacity:1;
				}				
			
			.item-img {
				z-index:0;			
			}
			
			.yamaha {
				background:url(../images/preview/yamaha-thumb.jpg);
				background-size: cover;
				
			}
			
			.factory {
				background:url(../images/preview/factory-thumb.jpg);
				background-size: cover;
			}
			
			.shaft {
				background:url(../images/preview/shaft-thumb.jpg);
				background-size: cover;
			}
			
			.tania {
				background:url(../images/preview/tania-thumb.jpg);
				background-size: cover;
			}
			
			.mtravel {
				background:url(../images/preview/mtravel-thumb.jpg);
				background-size: cover;
			}
			
			.pmayor {
				background:url(../images/preview/pmayor-thumb.jpg);
				background-size: cover;
			}
			
			.bosi{
				background:url(../images/preview/bosi-thumb.jpg);
				background-size: cover;
			}
			
			.additc {
				background:url(../images/preview/addict-thumb.jpg);
				background-size: cover;
			}
			
			.armor {
				background:url(../images/preview/armor-thumb.jpg);
				background-size: cover;
			}
			
			.celsia {
				background:url(../images/preview/celsia-thumb.jpg);
				background-size: cover;
			}
			
			.proexport {
				background:url(../images/preview/proexport-thumb.jpg);
				background-size: cover;
			}
			
			.svicente {
				background:url(../images/preview/svicente-thumb.jpg);
				background-size: cover;
			}
			
			.art {
				background:url(../images/preview/art-thumb.jpg);
				background-size: cover;
			}
			
			.brand {
				background:url(../images/preview/brand-thumb.jpg);
				background-size: cover;
			}
			
			
			
			
/***MODALS****/

			#basic-modal-content {
				display:none;
}
			
			/* Overlay */
			#simplemodal-overlay {
				background-color:#FFF;
					
}
			
			/* close icon */
			#simplemodal-container {
				
}

			#simplemodal-container a.modalCloseImg { 
				background: #ff6e22 url(../images/preview/close.png) no-repeat center center;
				width:41px;
				height:41px;
				z-index: 3200;
				position: absolute;
				top: 0;
				right: 0;
				cursor:pointer;
}

#top-modal {
	float: left;
	background: #fff;
	height: 100px;
	width: 100%;
}

.modal-logo {
	border-right: 1px solid #d5d5d5;
	height: 100px;
	position: relative; 
	width: 30%;
}

.modal-logo img {
	margin-top: -27px;
	position: absolute;
	top: 50%;
	right: 10%;
}

.web-modal {
	position:relative; 
	height: 100px; 
	width: 69%;
}

.web-modal p {
	color: #273138;
	font-size: 14px;
	left: 5%;
	line-height: 14px;
	margin-top: -7px;
	position: absolute;
	top: 50%;
	
	
}

.web-modal p a {
	color: #99A3A4;
	text-decoration: none;
}

.web-modal p a:hover {
	color: #ff6e22;
	text-decoration: underline;
}

.img-modal img {
	height: auto;
	max-width: 100%;
}
			
			
/**SKILLS****/



.skills-bar {
	float: left;
	width: 100%;
	border: 1px solid #FFF;
}

.txt-bar {
	float: left;
	background: #d5d5d5;
	height: 60px;
	width: 40%;
}

.txt-bar h2 { 
	font-size: 30px;
	text-align: right;
	line-height: 60px;
	padding-right: 5%;
}

.blue-bar {
	background: #273138;
	float: left;
	height: 60px;
}

.gray-bar {
	background: #d5d5d5;
	float: left;
	height: 60px;
}

.percentage-high-blue {
	width: 55%;
}

.percentage-low-blue {
	width: 40%;
}

.percentage-high-gray {
	width: 20%;
}

.percentage-low-gray {
	width: 5%;
}


.skills-quote {
	background: #d5d5d5;
	float: left;
	height: 100px;
	width: 99.8%;
	border: 1px solid #FFF;
}

.skills-quote h2 { 
	font-size: 50px;
	text-align: center;
	line-height: 100px;
}

/*RESUME*/

.quote-orange, .btn-download, .txt-resume { 
	background: #31c5f4;
	float: left;
	height: 100px;
	position: relative;
	width: 49.8%;
	border: 1px solid #FFF;
}

.txt-resume {
	background: #273138;
}

.quote-orange h2, .category-one h2, .category-two h2, .txt-resume p, .quote-form h2, .info-form h2 {
	bottom: 5%;
	font-size: 20px;
	font-weight: 300;
	position: absolute;
	right: 2%;
}

.txt-resume p {
	left: 2%;
	text-align: left;
}

.txt-resume span {
	font-weight: 600;
}

.btn-download a {
	background: url(../images/btn-download.png) no-repeat 0 0;
	bottom: 5%;
	color:#FFF;
	filter: alpha(opacity=100);
	font-size: 12px;
	font-weight: 600;
	opacity: 1.0;
	padding: 76px 0px 0px 50px;
	position: absolute;
	text-decoration: none;
	left: 2%;
	
	-webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn-download a:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.category-one, .category-two, .quote-form, .info-form {
	background: #d5d5d5;
	float: left;
	height: 202px;
	position: relative;
	text-align: right;
	width: 49.8%;
	border: 1px solid #FFF;
}

.category-two {
	height: 406px;
}

.category-one h2, .category-two h2, .quote-form h2, .info-form h2 {
	font-weight: 600;
	font-size: 2.5em;
}

/*contact form*/

.contact-col{
	float: left;
	width: 50%;
}

.quote-form, .info-form {
	width: 99.7%;
}

.info-form {
	height: 300px;
}

.info-form h2 a {
	color: #FFF;
	text-decoration: none;
}

.info-form h2 a:hover {
	color: #31c5f4;
}

.name-form input, .email-form input, .txt-form textarea {
	background: #273138;
	border: 0;
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
	float: left;
	height: 100px;
	padding-left: 2%;
	width: 98.8%;
	border: 1px solid #FFF;
	border-radius:0;
}

.txt-form textarea {
    font-family: 'Open Sans', sans-serif;
	padding: 2%;
	width: 95.8%;
	height: 172px;
}

#send-message {
   	background: #31c5f4;
	border: 0;
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	float: left;
	height: 100px;
	width: 40%;
	border: medium none;
	
	-webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}

#send-message:hover {
	background-color: #ff6e22;
}

#result {
	background: #31c5f4;
	border: 0;
	color: #273138;
	font-size: 16px;
	font-weight: 300;
	float: left;
	height: 60px;
	padding-top: 40px;
	width: 60%;
	border: medium none;
    text-transform: uppercase;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}
